<!-- <div   class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/house_default.jpg" alt="Card image cap">
    <div  class="card-body">
        <div class="row">
            <app-property-card></app-property-card>
        </div>

</div>
<a href="#" class="btn btn-primary">For Sale</a>
</div> -->
<div class="row">
    <div *ngFor="let prop of properties" class="shadow-lg col-sm-4 p-3">
        <app-property-card [property]="prop"></app-property-card>
    </div>
</div>