<!-- <p>
  Add-Property works!
</p>
<button class="btn btn-primary" (click)="onBack()">Back</button> -->
<div class="card">
  <div class="card-header">Add New Property</div>
  <div class="card-body">
    <form (ngSubmit)='onSubmit()' #Form="ngForm">
      <div class="form-group col-12">
        <label for="name">Name:</label>
        <input class="form-control" #propName="ngModel" type="text"
         ngModel name="Name" required minlength="5">
        <span  *ngIf="!propName.valid && propName.touched" class="Error_block">
      <span *ngIf="propName.hasError('required')"> Please provide name</span>
      <span *ngIf="propName.hasError('minlength')">Name must be atleast 5 characters long</span>
        </span> 

      </div>
      <div class="form-group col-12">
        <label for="type">Type:</label>
        <input class="form-control" type="text" ngModel name="Type">
      
      
      </div>
      <div class="form-group col-12">
        <label for="price">Price:</label>
        <input class="form-control" type="text" ngModel name="Price">
      
      
      </div>
      <div class="form-group col-12">
        <button  class="btn btn-primary m-2" type="submit">Save</button>
        <button class="btn btn-primary" type="reset">Cancel</button>
      </div>
    </form>
  </div>
</div>
