



    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/house_default.jpg" alt="Card image cap">
    <div class="card-body">
        <h5>{{Property.Type}}</h5>
        <h5>{{Property.Name}}</h5>
        <h5>{{Property.Price}}</h5>
    </div>
    <a href="#" class="btn btn-primary">For Sale</a>
  </div>




<!-- 
<div class="row">


    <div class="card">
        <img class="propimage" src="assets/images/house_default.jpg">
        <div class="card-body p-1">

            <h1>{{Property.Type}}</h1>
            <h1>{{Property.Name}}</h1>
            <h1>{{Property.Price}}</h1>

        </div>
   
    </div>
</div> -->